/************ OVERALL ******************/
    html,body{
        scroll-behavior: smooth;
    }

body{
    margin: 0;
}

/************  ******************/


/************ NAV BAR ******************/
.nav-link {
    color: magenta;
    text-shadow: 1px 1px 2px rgb(245, 183, 255), 0 0 1em rgb(245, 183, 255), 0 0 0.2em rgb(245, 183, 255);
    text-decoration: none;
    font-family: 'VT323', monospace;
    font-size: clamp(1px, 1px + 3vw, 30px);
}

nav{
    border: 2px solid red;
    border-color: #ff00ff;
    width: 100%;
}

.nav-link:visited{
    color: #ff00ff;
}
/************   ******************/


/************  <ID NAME> ******************/
#name{
    grid-row: 1;
    grid-column: 1/span 5;
    align-self: center;
}

.name_info {
    font-family: 'VT323', monospace;
    color: #19ff00;
    text-shadow: 1px 1px 2px rgb(179, 255, 154), 0 0 1em rgb(179, 255, 154), 0 0 0.2em rgb(179, 255, 154);
    font-size: clamp(20px, 20px + 3vw, 100px);
    text-align: center;
}
/************     ******************/


/************   SPINNING HEAD  ******************/
.Stats{
    float: left;
    max-width: 100%;
    grid-row: 2;
    grid-column: 1/span 2;
}

.head{
    width: 100vmin;
}
/************     ******************/

/************   SKILLCARD ******************/
#card{
    display: grid;
    grid-template-columns: 1fr 2fr 2.5fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr;
    border: 2px solid #19ff00 !important;
    margin-top: 200px;
    width: min(90%, 850px);
    margin-inline: auto;
    align-items: start;
    margin-bottom: 100px;

}
/************     ******************/


/************  OBJECTIVE + DISC  ******************/
.green{
    font-family: 'VT323', monospace;
    padding: 1px;
    color: #19ff00;
    text-shadow: 1px 1px 2px rgb(201, 255, 183), 0 0 1em rgb(201, 255, 183), 0 0 0.2em rgb(201, 255, 183);
    font-size: clamp(1px, 1px + 5vw, 50px);
    margin: 0;
    margin-top: 20px;
}

.text{
    font-family: 'VT323', monospace;
    padding: 1px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(183, 197, 255), 0 0 1em rgb(183, 197, 255), 0 0 0.2em rgb(183, 197, 255);
    font-size: clamp(1px, 1px + 3vw, 30px);
}

#skillcard{
    grid-row: 3;
    grid-column: 2/span 2;
}

/************   LOGO  ******************/
.logo{
    grid-row: 2;
    grid-column: 1/span 2;
    margin-left: 2.5rem;
    width: 50%;
}

.dyr{
    width: 70vmin;

}
/************     ******************/

/************   LOGO  ******************/
.works1{
    grid-row: 4;
    grid-column: 1/span 2;
    margin-left: 2.5rem;
    width: 50%;
}

.wk1{
    width: 70vmin;

}

.works2{
    grid-row: 5;
    grid-column: 1/span 2;
    margin-left: 2.5rem;
    width: 50%;
}

.wk2{
    width: 70vmin;

}

.works3{
    grid-row: 6;
    grid-column: 1/span 2;
    margin-left: 2.5rem;
    width: 50%;
    margin-bottom: 20px;
}

.wk3{
    width: 70vmin;

}

.works4{
    grid-row: 7;
    grid-column: 1/span 2;
    margin-left: 2.5rem;
    width: 50%;
}

.wk4{
    width: 70vmin;

}
/************     ******************/













/************     ******************/

.container{
    --bs-gutter-x: 0!important;
}
/************     ******************/


/************ GRADIENT ******************/
body {
    background-image: linear-gradient(#000000, #52024c, #000000, #423749);
    min-height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/************  ******************/